.wrapper {
  width: 80%;
  height: 60vh;
  margin: 120px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 2s ease;
  @include tablet-screen {
    width: 65%;
    margin-top: 90px;
    flex-direction: row;
  }
  @include desktop-screen {
    width: 95%;
    justify-content: flex-start;
  }
}

//Added to the DOM upon selection of news category (header shrinks)
.shrink {
  width: 90%;
  height: auto;
  margin-top: 30px;
  @include tablet-screen {
    margin-top: 20px;
  }
  @include desktop-screen {
    width: 100%;
  }
  .logo {
    @include desktop-screen {
      margin-right: 0;
    }
    img {
      width: 65%;
      @include tablet-screen {
        width: 30%;
      }
    }
  }
}

.logo {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  @include desktop-screen {
    margin-right: 5%;
  }
  img {
    width: auto;
    @include tablet-screen {
      width: 80%;
      height: auto;
    }
    @include desktop-screen {
      width: auto;
    }
  }
}

.dropdown-area {
  width: auto;
  @include tablet-screen {
    text-align: left;
  }
}
